.flex.flex-col.items-center.justify-center.px-6.py-8.mx-auto.lg:py-0
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put, class: 'bordered sm:max-w-md'}) do |f|

    %h1.text-3xl.text-green=I18n.t(:header, scope: [:devise, :registrations, :edit])
    %p.text-light-blue=I18n.t(:promt, scope: [:devise, :registrations, :edit])

    = render "devise/shared/error_messages", resource: resource

    = render "devise/shared/user_fields", f: f

    = f.submit I18n.t(:submit, scope: [:devise, :registrations, :edit]), class: 'button bg-purple w-full'

    %h3.text-2xl.text-green.mt-5=I18n.t(:header, scope: [:devise, :registrations, :delete])
    %p.text-light-blue=I18n.t(:promt, scope: [:devise, :registrations, :delete])

    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :delete}) do |f|
      =f.submit I18n.t(:submit, scope: [:devise, :registrations, :delete]), class: 'button bg-red w-full'

