= f.label :name, class: 'label block mb-2 mt-6'
= f.text_field :name, autofocus: true, autocomplete: "name", class: 'input block w-full'

= f.label :email, class: 'label block mb-2 mt-6'
= f.email_field :email, autofocus: true, autocomplete: "email", class: 'input block w-full'

= render "devise/shared/password_fields", f: f