!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title George Gavrilchik
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}
    = csrf_meta_tags
    = csp_meta_tag
    %link{rel: :preconnect, href: 'https://fonts.googleapis.com'}
    %link{rel: :preconnect, href: 'https://fonts.gstatic.com', crossorigin: true}
    %link{rel: :stylesheet, href: 'https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;800&display=swap'}

    = stylesheet_link_tag "tailwind"
    = javascript_importmap_tags
  %body.bg-grey.sm:bg-body.text-white
    =render 'layouts/navbar'
    .container.mx-auto.pt-6.page-body.bg-body.h-full.min-h-screen.z-10.transition-all.origin-top-left
      =render 'layouts/flashes'
      = yield
    #nav-mobile{class: 'absolute top-1/4 pt-40 z-0'}
      = yield :mobile_nav
    